<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{category.title}}">
  <ion-content class="padding">
    
    <div class="list card">
    <div class="item item-avatar">   
    <img ng-src="{{root+'/uploads/categories/'+category.image}}" >
    <h2>{{category.title}}</h2>
    <p>{{category.description}}</p>
    </div> 
     <div class="item">    
      <h2>Claims in this category</h2>
      <div style="text-align:center"><ion-spinner ng-show="loading" style="left:45%">loading</ion-spinner> </div>     
            
      <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="claim in category.claims" type="item-text-wrap" href="#/tab/claim/{{claim.id}}">
        <img ng-src="{{root+'/uploads/documents/'+claim.medias[0].path}}">
        <h2>{{claim.title}}</h2>
        <p>{{claim.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        
      </ion-item>
    </ion-list>
        </div>
    </div> 
  </ion-content>
</ion-view>
